<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PHP" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="Clean URLs" stopProcessing="true">
          <match url="^time/([a-zA-Z0-9\-_/]+)/?$" />
          <action type="Rewrite" url="index.php?zone={R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
